{% extends "auctions/layout.html" %}
{% load static %} 

{% block style %}
        <link href="{% static 'auctions/style/index.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2 class="mt-5 mb-4 ms-3">{{ category }} Listings</h2>
    <div class="container-fluid listing-container">
        {% for listing in category_listing %}   
        <div class="row mx-1 mb-3"> 
            <img src="{{ listing.image }}" class="col-sm-4 listing-image" alt="{{ listing.title }}">
            <div class="col-sm-8">
                <h5 class="listing-title">{{ listing.title }}</h5>
                <hr>
                <p class="bid-price">${{ listing.starting_bid }} <span class="listing-num-of-bids">{{ listing.number_of_bids }} bid(s)</span></p>
                <p class="listing-description text-truncate">{{ listing.description }}</p>
                <p class="listing-datetime">Created by {{listing.owner}} on {{ listing.start_datetime }}</p>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary" role="button">More Info</a>
            </div>
        </div>
        {% empty %} 
                <p class="empty-show-up">
                    Sorry, we don't have any listing in this category currently <br>
                    If you would like create new listing, please click <a href="{% url 'create_listing' %}">here</a>
                </p>
        {% endfor %}
    </div>
{% endblock %}