a {
    text-decoration: none;
    color: black;
}

a:hover .card {
    border: 0;
    color: black;
    box-shadow: 0px 0px 4px rgb(179, 179, 179)
}

.card-title {
    padding: 4px 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.card-img-top {
    object-fit: cover;
    height: 170px;
    width: 100%;
}